<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

	<h3 id="myModalLabel">
		<%=_n("NEW_CONTACT_FORM_TITLE","Novo Contato","Editando contato", !contato.id ) %>
	</h3>
</div>
<div class="modal-body">

</div>
<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true"><%=__("NEW_CONTACT_FORM_CANCEL_BUTTON","Cancelar") %></button>
	<button data-action="save" class="btn btn-primary"><%=__("NEW_CONTACT_FORM_SAVE_BUTTON","Salvar") %></button>
</div>
