@charset 'UTF-8';

@import "bootstrap.less";
@import "theme.less";
@import "font-awesome.min.less";
@import "alertify.less";
@import "backgrid.min.less";
@import "backbone-forms-bootstrap.less";


[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

.user_side .icon-user{
  font-size: 40px;
  border: 4px solid;
  border-radius: 100%;
  padding: 5px 8px;
  color: white;
  float: left;
  margin-right: 10px;
}

.navbar.navbar-fixed-top .navbar-inner {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.7);
}

.tel-inline{
  display: block;
}

.summarize {
  overflow:hidden;
  text-overflow:ellipsis;
}

.nowrap{
  white-space: nowrap;
}




.modal-backdrop, .modal-backdrop.fade.in
{
  background: #FFF;
}

fieldset
{
  margin-bottom: 15px;
  legend
  {
    margin-bottom: 0;
  }
  
}

.bbf-list 
{
  .bbf-add
  {
    margin: 0;
  }

  ul.unstyled
  {
    margin: 0;
  }
  li
  {
    position: relative;
    padding: 30px 0;
    margin: 0;


    .bbf-del
    {
      position: absolute;
      top: 25px;
    }

  }
  li + li
  {
    border-top: 1px dashed #DDD;
  }
  .bbf-list-controls
  {
    .modal-footer;
    
    .bbf-del
    {
      border: 0;
      box-shadow: none;
      color: #666;
      font-size: 13px;
      
    }
  }
}
.help-block {
  color: #999;
  font-size: 12px;
}


.editor
{
   textarea
   {
      margin: 10px 0;
      width: 100%;
      height: 150px
   } 
}



